<div class="card mt-2">
  <h5 class="card-header text-center">Filtrar todos</h5>
  <div class="card-body">
    <form [formGroup]="filtrarTodosForm" (ngSubmit)="filtrarTodos.emit(filtrarTodosForm.value)">
      <div class="form-group">
        <input type="text" class="form-control form-control-sm" autocomplete="off" id="id" formControlName="id"
          placeholder="Id">
      </div>
      <div class="form-group">
        <input type="text" class="form-control form-control-sm" autocomplete="off" id="descripcion"
          formControlName="descripcion" placeholder="Descripcion">
      </div>
      <div class="form-group">
        <select class="form-control form-control-sm" formControlName="estaResuelta">
          <option [ngValue]="null">Todos</option>
          <option [ngValue]="false">Pendiente</option>
          <option [ngValue]="true">Resuelta</option>
        </select>
      </div>

      <button type="submit" class="btn btn-sm btn-secondary btn-block"
        [disabled]="!filtrarTodosForm.valid">Filtrar</button>
    </form>
  </div>
</div>
